footer{
    background-color: #222;
}

.footer__list{
    width: 60%;
    margin: auto;
    padding-top: 50px;
}

.footer__list ul li{
    list-style: none;
    color: #949494;
}

.footer__list .footer__icons ul{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.footer__list .footer__icons ul li{
    font-size: 30px;
}

.footer__list .footer__icons ul li ~ li{
    margin-left: 10px;
}

.footer__list .underFooter{
    display: flex;
    justify-content: space-between;
}

.underFooter .underFooter__text{
    width: 70%;
    margin-right: auto;
    margin-left: 10px;
}

.underFooter .underFooter__text p{
    margin: 0;
}

.underFooter .underFooter__text ul li{
    font-size: 13px;
    word-spacing: 2px;
}

.footer__list .upperfooter::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.205);
    margin: 20px 0;
}


@media screen and (max-width: 768.99px) {
    .footer__list .upperfooter .faqguild{
        display: none!important;
    }

    .footer__list .footer__icons{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footer__list .underFooter__text ul{
        display: none;
    }

    .footer__list .underFooter{
        width: 100%!important;
        justify-content: center!important;
    }

    .footer__list .underFooter__text{
        width: 100%!important;
    }

    .footer__list .underFooter__text p{
        text-align: center;
    }

    .footer__list .underFooter img{
        display: none;
    }
}

@media screen and (max-width: 539.99px) {
    /* footer .footer__list .upperfooter .tix .tix__item{
        width: 100%;
    } */

    footer .footer__list .upperfooter .tix .tix__item ul{
        display: flex!important;
        justify-content: space-between;
    }

    .footer__list .upperfooter .col-lg-4{
        margin-bottom: 20px;
    }

    .footer__list .upperfooter .col-lg-4 p{
        display: none   ;
    }

    .footer__list .upperfooter .col-lg-4 .icon1{
        display: none;
    }

    .footer__list .upperfooter .col-lg-4 .footer__icons{
        align-items: center!important;
    }
}

@media screen and (max-width: 410.99px) {
    footer .footer__list .upperfooter .tix{
        display: none;
    }
}