.ant-modal-footer{
    display: none!important;
}

.ant-modal-header .ant-modal-title{
    text-align: center;
}

.ant-modal-close:focus{
    outline: none;
}

.ant-modal-content{
    border-radius: 35px;
}

.ant-modal-header{
    border-radius: 35px;
}